.Wrapper {
    width: 270px;
    height: 300px;
    border: 0.5px solid rgba(10, 0, 0, 0.137);
    padding: 3px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .Wrapper:hover {
    box-shadow: 1px 1px 5px black;
  }
  
  .Img {
    max-width: 100%;
  }
  
  .Title .Price .Rating {
    position: relative;
    top: -40px;
    text-align: center;
    font-display: none;
  }
  
  .Title .Price .Rating a {
    text-decoration: none !important;
    color: black !important;
  }
  
  .Title {
    font-weight: bold;
  }
  